@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
.topbar {
  height: 40px;
  width: 100%;
  background-color: #5385c1;
}
.inner-topbar{
  width: 1280px;
  height: 40px;
  margin: 0 auto;
}
.logo{
  display: inline;
  float: left;
  padding-top: 10px;
  color: white;

}
.navigation {
  float: right;
  bottom: 5px;
    position: relative;
}


.navigation ul li{
float: left;
list-style-type: none;
}
.navigation ul li a{
text-decoration: none;
color: white;
}
.lipadding-left {
padding-left: 20px;

}


.full-width{
    width: 100%;
    /* background-color: blue; */
    height: 400px;
    
}
.white-background{
    
  background-color: white;
}
.removeheight{
  height: inherit;
}
.inner{
  width: 1280px;
  /* background-color: white; */
  height: 300px;
  margin: 0 auto;
}
.lastsectionbeforefooter { 
}
.lastsectionheight {
  height: 500px;
}
.footer{
  border-top: 1px solid grey;
  /* margin-top: 8%; */
  height: 100px;
}
.footer p{
  padding-top: 2.5%;

}
.socialmediaicons {
  float: right;
  margin-top: -2.5%;
  position: relative;
}
.socialmediaicons img{
  padding-right: 10px;
}

/* WORKING ON THE PREVIOUS CODE */
.entirepagesection {
  width: 1280px;
  margin: 0 auto;
}
.elementsheader h1{
  padding-top: 5%;
  text-align: center;
  color: #5385c1;
  font-size: 55px;
}
.elementsheader p{
  text-align: center;
  padding-bottom: 5%;
  font-size: 25px;
  margin-top: -2%;
}
.text-headers h2{
  color: #5385c1;
  font-size: 30px;
}
.twoparagraphss{
  width: 100%;

}
.twoparagraphss h3{
  color: #5385c1;
  font-size: 23px;
  
}
.firstparagraph-sam{
  width: 50%;
  float: left;
}
.firstparagraph-sam p{
  padding-right: 10%;
}
.secondparagraph-magna{
  width: 50%;
  float: left;
}
.secondparagraph-magna p{
  padding-right: 3%;
}
.clearfloat{
  clear:both;
}
.threeparagraphshere{
  width: 100%;
}
.p1of3{
  width: 33.33%;
  float: left;
}
.p2of3{
  width: 33.33%;
  float: left;
}
.p3of3{
  width: 33.33%;
  float: left;
}
.p1of3 p, .p2of3 p{
  padding-right: 10%;
}
.p1of3 h3, .p2of3 h3, .p3of3 h3{
  color: #5385c1;
}
.twodividedsections{
  width: 100%;
}
.leftsection{
  width: 45%;
  float: left;
}
.rightsection{
  width: 50%;
  float: right;
}